@font-face {
	font-family: 'AgencyFB';
	src: url('AgencyFB/AgencyFB.eot'),
		 url('AgencyFB/AgencyFB.woff') format('woff'),
		 url('AgencyFB/AgencyFB.ttf') format('truetype'),
		 url('AgencyFB/AgencyFB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

